*{
		background-color: #161417;	
		}
		.título {
		color: white;
		font-size: 50px;
		text-align: center;
	}
	.neon {
		user-select: none;
		pointer-events: none;
	}
	h1 {
		color: white;
		font-size: 35px;
		user-select: none;
		pointer-events: none;
		font-family: 'Open Sans', sans-serif;
	}
	.container{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}
	.mpb{
			color: white;
			text-align: center;
			font-size: 20px;
			user-select: none;
			font-family: 'Open Sans', sans-serif;
		}
		.social{
				display: flex;
				justify-content: center;
				cursor: pointer;
				text-decoration: none;
				user-select: none;
			}
			button{
				border: none;
			}
			button:hover{
				cursor: pointer;
				transform: scale(1.2)
				translateY(-10px);
				transition-duration: 0.5s;
			}
			@media (max-width: 400px) {
				.neon
				.social
				.neon
				.container
				.mpb
				h1
				button
			}